@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
:root {
  /* Font Sizes */
  --sizeXS: 0.7rem;
  --sizeS: 1rem;
  --sizeM: 1.2rem;
  --sizeL: 1.5rem;
  --sizeXL: 1.8rem;
  --sizeXXL: 2.2rem;
  --sizeXXXL: 2.5rem;
  --gapXS: 1rem;
  --gapS: 1.2rem;
  --gapM: 1.5rem;
  --gapL: 1.8rem;
  --gapXL: 2.2rem;
  --paddingXS: 0.5rem;
  --paddingS: 0.8rem;
  --paddingM: 1rem;
  --paddingL: 1.2rem;
  --paddingXL: 1.5rem;
  --borderRadius: 0.5rem;
  --border: #20484F1A;
  --white: #ffffff;
  --primary-light: #DCF2ED;
  --primary-green: #B8E4DA;
  --dark-green: #20484F;
  --dark: #072125;
  --pale-grey: #FAFAFA;
}
:root h1 {
  font-size: var(--sizeXXXL);
}
:root h2 {
  font-size: var(--sizeXXL);
}
:root h3 {
  font-size: var(--sizeXL);
}
:root h4 {
  font-size: var(--sizeL);
}
:root h5 {
  font-size: var(--sizeM);
}
:root h6 {
  font-size: var(--sizeS);
}
:root p {
  font-size: var(--sizeXS);
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #000;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-green);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-family: "Poppins", sans-serif;
  font-size: var(--sizeS);
  background: var(--pale-grey, #FAFAFA);
  color: var(--dark);
}
body nav {
  display: flex;
  justify-content: space-between;
  height: 4.75rem;
  align-items: center;
}
body nav .nav-logo {
  font-size: var(--sizeL);
  margin-left: 1rem;
}
body nav .nav-item {
  display: flex;
  gap: var(--gapS);
  padding: var(--paddingM);
  border-radius: var(--borderRadius);
}
body nav .nav-item a {
  color: var(--dark);
  text-decoration: none;
}
body nav .nav-login {
  display: flex;
  gap: var(--gapS);
  margin-right: 1rem;
}
body nav .nav-login a {
  color: var(--dark);
  text-decoration: none;
}
body nav .nav-login .nav-signup {
  background: var(--primary-green);
  padding: var(--paddingM);
  border-radius: var(--borderRadius);
}
body nav .nav-login .nav-login {
  padding: var(--paddingM);
  border-radius: var(--borderRadius);
}
body .hero-section {
  display: flex;
  gap: 1rem;
  height: 50rem;
}
body .hero-section .row .hero-overview {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .hero-section .row .hero-overview .circle {
  width: 28rem;
  height: 28rem;
  border-radius: 40% 70% 35% 60%;
  background: var(--dark);
  position: relative;
}
body .hero-section .row .hero-overview .circle .project-overview {
  border-radius: var(--borderRadius);
  position: absolute;
  top: 0;
  left: 0;
}
body .hero-section .row .hero-overview .circle .profile-card {
  border-radius: var(--borderRadius);
  position: absolute;
  right: 0;
  bottom: 30%;
}
body .hero-section .row .hero-overview .circle .project-updated {
  border-radius: var(--borderRadius);
  position: absolute;
  bottom: 5%;
  left: 15%;
}
body .hero-section .row .hero-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
body .hero-section .row .hero-input p {
  font-weight: bold;
}
body .hero-section .row .hero-input h2 {
  font-weight: bold;
}
body .hero-section .row .hero-input .inputs {
  display: flex;
  width: 80%;
}
body .hero-section .row .hero-input .inputs input[type=email] {
  width: 70%;
  padding: 1rem;
  box-sizing: content-box;
}
body .hero-section .row .hero-input .inputs input[type=button] {
  width: 30%;
  background: var(--dark);
  border: none;
  color: var(--white);
  font-size: var(--sizeM);
}
body .features-section {
  height: 50rem;
}
body .features-section .row .features-overview {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
body .features-section .row .features-overview .features-image {
  width: 80%;
}
body .features-section .row .features-overview .project-overview {
  position: absolute;
  top: 0;
  left: 0;
}
body .features-section .row .features-overview .project-updated {
  position: absolute;
  right: 0%;
  top: 50%;
}
body .features-section .row .features-about .roadmap-support {
  display: flex;
  gap: 1.5rem;
}
body .features-section .row .features-about .roadmap-support span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: var(--dark-green);
  border-radius: 50%;
  color: var(--white);
  padding: 1rem;
}
body .features-section .row .features-about .track-progress {
  display: flex;
  gap: 1.5rem;
}
body .features-section .row .features-about .track-progress span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: var(--dark-green);
  border-radius: 50%;
  color: var(--white);
  padding: 1rem;
}
body .metrics-section .cards .row {
  display: flex;
  gap: 1rem;
}
body .metrics-section .cards .row .approval-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  padding: 1rem;
  background: var(--dark-green);
  border-radius: var(--borderRadius);
  width: 10rem;
  height: 15rem;
  color: var(--white);
}
body .metrics-section .cards .row .team-members {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  padding: 1rem;
  background: var(--dark-green);
  border-radius: var(--borderRadius);
  width: 10rem;
  height: 15rem;
  color: var(--white);
}
body .metrics-section .cards .row .cups-coffee {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  padding: 1rem;
  background: var(--dark-green);
  border-radius: var(--borderRadius);
  width: 10rem;
  height: 15rem;
  color: var(--white);
}
body .metrics-section .cards .row .emails-received {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  padding: 1rem;
  background: var(--dark-green);
  border-radius: var(--borderRadius);
  width: 10rem;
  height: 15rem;
  color: var(--white);
}
body .testimonials-section img {
  width: 100%;
}
body .ctas-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
body .ctas-section button {
  padding: 1rem;
  background: var(--dark-green);
  color: var(--white);
}
body .images-section .row {
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
body .images-section .row .left img {
  width: 100%;
}
body .images-section .row .right img {
  width: 100%;
}
body .tabs-section .row .col-lg-12 button {
  background: var(--dark-green);
  padding: 1rem;
  color: var(--white);
}
body .tabs-section .row .col-lg-12 .row .col-lg-6 .row {
  display: flex;
  gap: 1rem;
}
body .tabs-section .row .col-lg-12 .row .col-lg-6 .row .active {
  background: var(--dark-green);
  color: var(--white);
}
body .tabs-section .row .col-lg-12 .row .col-lg-6 .row .col-lg-12 {
  border: 0.1px dashed var(--dark);
  padding: 1rem;
}
body .pageheader-section .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .pageheader-section .row .pageheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .footers-section {
  background: var(--dark-green);
  color: var(--white);
  padding: 3rem;
}
body .footers-section .row .links .row .col-lg-4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body .footers-section .row .links .row .col-lg-4 a {
  text-decoration: none;
  color: var(--white);
}
body .footers-section .copyright {
  display: flex;
  justify-content: center;
}
body .team-section .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
body .team-section .row .col-lg-3:hover {
  scale: 1.1;
  transition: all 1s;
}
body .pricing-section {
  background: var(--pale-grey, #FAFAFA);
}
body .pricing-section .row {
  gap: 5rem;
}
body .pricing-section .row .col-lg-3 {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 1.5rem;
  gap: 1rem;
  background: var(--white);
}
body .pricing-section .row .col-lg-3 .check {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .pricing-section .row .col-lg-3 .check .fa-check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: var(--dark-green);
  color: var(--white);
  border-radius: 50%;
}
body .pricing-section .row .col-lg-3 button {
  background: var(--dark-green);
  color: var(--white);
  border-radius: var(--borderRadius);
  padding: 0.5rem;
}
body .signin {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: var(--dark-green);
  background: var(--primary-light, #DCF2ED);
  overflow-x: hidden;
}
body .signin .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body .signin .form-container {
  width: 600px;
  margin: 0 auto;
  padding: 50px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: var(--dark);
}
body .signin h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  color: var(--dark-green);
}
body .signin form {
  display: flex;
  flex-direction: column;
}
body .signin label {
  margin-bottom: 10px;
  font-size: 18px;
}
body .signin input {
  border: 0.5px solid var(--dark-green);
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #fff;
}
body .signin button {
  padding: 10px;
  background-color: var(--dark-green);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.2s ease-in-out;
}
body .signin button:hover {
  background-color: var(--dark);
}
body .signin a {
  text-decoration: none;
  color: var(--dark-green);
  font-size: 18px;
  transition: color 0.2s ease-in-out;
}
body .signin a:hover {
  color: var(--dark);
}
body .signin p {
  text-align: center;
  margin: 8px;
}

@media (max-width: 768px) {
  body nav .nav-item {
    display: none;
  }
  body nav .nav-login {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */